fastapi[standard]
uvicorn
pymongo
pydantic
pydantic-settings
python-dotenv
python-multipart
passlib
python-jose
bcrypt==4.0.1
pyotp
python-magic
pillow
redis
apscheduler
httpx
requests 
cloudinary
aiofiles
routers
jwt
sib-api-v3-sdk
qrcode
motor